.shopproduct{
  font-size: 18px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  background: #e85858;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  content: '';
  box-shadow: none !important;
  color: white;
  left: var(--buttons-border-width);
  font: inherit;
  
}