.your-class {
    box-sizing: border-box;
    color: rgba(2, 2, 2, 0.75);
    cursor: pointer;
    display: block;
    font-family: Figtree;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 20.7969px;
    letter-spacing: 0.96px;
    line-height: 20.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-size-adjust: 100%;
    text-underline-offset: 4.8px;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: text-decoration;
    transition-timing-function: ease;
    visibility: visible;
    width: 100%; // Specify the width you desire
  }
  