nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-family: 'Assistant', sans-serif;
  
  font-style: normal;
  
  margin: 8px 8-px 16px;
  padding: 8px 80px 16px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px Figtree;
  font-weight: 400;
  color: #020202BF;
}
#SearchIcon :hover{
  color: #1a1717;
}
#navbar li a:hover:after{
  content:"";
  width: 70%;
  height: 1px;
  background-color:#020202BF ;
  position: absolute;
  bottom: -4px;
  left: 20px;
  text-align: -webkit-match-parent;
  

}
